<h2>Reset your password</h2>

<p>Hi <%= @user.name %>,</p>

<p>We received a request to reset your password. Click the link below to choose a new one:</p>

<p><a href="<%= @reset_url %>">Reset my password</a></p>

<p>This link will expire in 1 hour. If you didn't request this, you can safely ignore this email.</p>

<p>Thanks,<br>The Conduit Team</p>
