<div class="form-control w-full mb-4">
  <%= form.label :role_id, "Role (optional)", class: "label" %>
  <%= form.select :role_id, Role.ordered.map { |r| [r.title, r.id] }, { include_blank: "No role" }, class: "select select-bordered w-full" %>
</div>
