<div class="form-control w-full mb-4">
  <%= form.label :assigned_to_user_id, "Assign to", class: "label" %>
  <%= form.select :assigned_to_user_id,
        options_for_select(
          [["Unassigned", ""]] + users.order(:name).map { |u| [u.name, u.id] },
          task.assigned_to_user_id
        ),
        {},
        class: "select select-bordered w-full" %>
</div>
