<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">New Task</h2>
    </div>
    <div class="card-body">
      <%= turbo_frame_tag "new_task" do %>
        <%= render "tasks/form", task: @task %>
      <% end %>
    </div>
  </div>
</div>
