<div class="space-y-2 my-4">


  <% if calendar_events.present? %>
    <ul class="divide-y divide-gray-200">
      <% calendar_events[:events].each do |event| %>
        <li class="py-3 flex items-start">
          <div class="flex-grow justify-between py-2 px-3 border-b border-base-200 bg-base-100">
            <p class="font-medium"><%= event[:summary] %></p>
            <p class="text-xs text-gray-500"><%= event[:start_time].strftime('%B %d, %Y') %></p>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-gray-500 italic">No upcoming events found</p>
  <% end %>
</div>