<% if @google_calendar_configured && !@calendar_already_shared %>
  <% if google_account? %>
    <%= button_to calendar_shares_path, method: :post, class: local_assigns[:button_class] || "badge badge-primary hover:badge-secondary cursor-pointer min-h-[44px] px-3", title: "Subscribe to this calendar", form_class: "inline-block", data: { turbo: "false", turbo_confirm: "Subscribe to the community calendar? This will share it with your Google account." } do %>
      <span class="hidden sm:inline">Subscribe</span>
      <span class="sm:hidden">Sub</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5 ml-1 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"/>
      </svg>
    <% end %>
  <% else %>
    <span class="<%= local_assigns[:disabled_class] || 'badge badge-ghost opacity-50 cursor-not-allowed min-h-[44px] px-3' %>" title="Google account required to subscribe">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5 mr-1 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
      </svg>
      <span class="hidden sm:inline">Google Required</span>
    </span>
  <% end %>
<% end %>
