<div class="fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center z-50" data-controller="modal">
  <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
    <div class="bg-gray-100 px-4 py-3 border-b border-gray-200">
      <div class="flex items-center justify-between">
        <h3 class="text-lg leading-6 font-medium text-gray-900"><%= title %></h3>
        <button type="button" class="text-gray-400 hover:text-gray-500" data-action="click->modal#close">
          <span class="sr-only">Close</span>
          <%= heroicon "x-mark", variant: :outline, options: { class: "h-6 w-6" } %>
        </button>
      </div>
    </div>
    <div class="px-4 py-5 sm:p-6">
      <%= content if local_assigns[:content] %>
      <%= yield if block_given? %>
    </div>
  </div>
</div>
