service: conduit_app
image: <%= ENV["DOCKER_USERNAME"] %>/conduit_app

servers:
  web:
    - <%= ENV["CONDUIT_SERVER_IP"] %>

ssh:
  user: <%= ENV["CONDUIT_SSH_USER"] %>

proxy:
  ssl: true
  host: <%= ENV["CONDUIT_DOMAIN"] %>
  healthcheck:
    interval: 5
    timeout: 120

registry:
  username: <%= ENV["DOCKER_USERNAME"] %>
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  secret:
    - RAILS_MASTER_KEY
    - GOOGLE_CLIENT_ID
    - GOOGLE_CLIENT_SECRET
    - CONDUIT_APP_DATABASE_PASSWORD
    - CALENDAR_CONFIG_CONTENT
    - GOOGLE_CALENDAR_ID
    - GOOGLE_DRIVE_FOLDER_ID
    - MAILGUN_API_KEY
    - MAILGUN_SMTP_PASSWORD
    - MAILGUN_SMTP_USERNAME
    - MAILGUN_SIGNING_KEY
    - MAILGUN_DOMAIN
    - STREAM_API_KEY
    - STREAM_API_SECRET
  clear:
    SOLID_QUEUE_IN_PUMA: true
    ALLOWED_EMAILS: <%= ENV["ALLOWED_EMAILS"] %>

volumes:
  - "conduit_app_storage:/rails/storage"

# Add PostgreSQL as an accessory
accessories:
  db:
    image: postgres:15
    host: <%= ENV["CONDUIT_SERVER_IP"] %>
    port: 5432
    env:
      clear:
        POSTGRES_USER: conduit_app
        POSTGRES_DB: conduit_app_production
      secret:
        - CONDUIT_APP_DATABASE_PASSWORD
        - POSTGRES_PASSWORD
    files:
      - .kamal/postgres/init.sql:/docker-entrypoint-initdb.d/setup.sql
    volumes:
      - /var/lib/postgresql/data:/var/lib/postgresql/data

builder:
  arch: amd64

aliases:
  console: app exec --reuse -i "bin/rails console"