<!-- Navigation -->
<div class="navbar bg-neutral text-neutral-content px-4">
  <div class="navbar-start flex items-center gap-8">
    <%= link_to root_path, class: "flex items-center" do %>
      <%= image_tag("crow-woods-logo.png", alt: "Logo", class: "max-w-[150px] h-auto") %>
    <% end %>

    <div class="flex gap-6">
      <%= link_to "Dashboard", dashboard_index_path, class: "link link-hover font-medium" %>
      <%= link_to "Tasks", tasks_path, class: "link link-hover font-medium" %>
      <%#= link_to "Documents", documents_path, class: "link link-hover font-medium" %>
      <%#= link_to "Calendar", calendar_index_path, class: "link link-hover font-medium" %>
    </div>
  </div>
</div>
